.BigBlueButton {
    width: 502px;
    height: 50px;
    background-color: rgb(33 150 243 / 100%);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: rgb(255 255 255 / 100%);
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 20px;
    font-size: 12px;
}