.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.checkboxContainer:hover {
  background-color: rgb(241 252 255 / 100%);
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(154 187 206 / 100%);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.customCheckboxChecked {
  border-color: rgb(33 150 243 / 100%);
  background: center / 12px 8px no-repeat url("./checkIcon.svg");
}

.label {
  cursor: pointer;
  user-select: none;
  font-size: 13px;
}