.sideFilters {
    width: 232px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.filterTitle {
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 12px; 
    padding: 0 20px 10px 20px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
  
.checkboxContainer:hover {
    background-color: rgba(241, 252, 255, 1);
}

.hiddenCheckbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.customCheckbox {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(154, 187, 206, 1);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
  
.customCheckboxChecked {
    border-color: rgba(33, 150, 243, 1);
    background: center / 12px 8px no-repeat url(./img/checkIcon.svg);
}
  
.label {
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}