.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
  
.price {
    color: rgba(33, 150, 243, 1);
    line-height: 24px;
    font-size: 24px;
}
  
.segment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    text-align: left;
    color: rgba(74, 74, 74, 1);
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
}
  
.route, .duration, .stops {
    display: flex;
    flex-direction: column;
}
  
.cardTitle {
    color: rgba(160, 176, 185, 1);
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 0.5px;
}