.sideFilters {
    width: 232px;
    background-color: rgb(255 255 255 / 100%);
    padding: 20px 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    text-align: left;
}

.filterTitle {
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 12px; 
    padding: 0 20px 10px;
}
